.logo {
  font-family: "Michroma", sans-serif;
  font-style: italic;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

header,
.hero-section,
.information-wrapper,
.testimonial-wrapper {
  width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: #f9f1f8;
}

nav a:hover {
  color: #9cc1fb;
  transition: 0.2s;
}

nav a:active {
  color: #3882f6;
}

.hero-section {
  display: flex;
  justify-content: center;
  gap: 36px;
  padding-top: 26px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 780px;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.hero-paragraph {
  font-size: 18px;
  margin-bottom: 24px;
}

.hero-cta-btn {
  width: 148px;
  border: none;
  cursor: pointer;
}

.hero-img {
  width: 600px;
  /* object-fit: cover; */
  /* flex-basis: 200px; */
}

.hero-img img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border: 2px solid #f1faee;
}

.hero-cta-btn:hover {
  background-color: #609bf8;
  transition: 0.2s;
}

.information-section,
.cta {
  background-color: #f1faee;
}

.information-section,
.testimonial-wrapper {
  color: #1f2937;
}

.information-section {
  text-align: center;
  width: 100%;
  padding-bottom: 36px;
}

.information-section h4 {
  margin: 12px;
  font-size: 36px;
}

.information-title {
  padding-top: 36px;
}

.information-length {
  width: 960px;
  margin: 0 auto;
}

.information-flex-wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: -24px; */
  gap: 16px;
}

.information-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.information-box-wrapper p {
  text-align: center;
  /* width: 60%; */
}

.information-img {
  width: 80px;
  border: 3px solid #3882f6;
  border-radius: 12px;
  padding: 12px;
  fill: #3882f6;
}

.testimonial {
  background-color: #e5e7eb;
  padding: 36px;
}

.testimonial-paragraph {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  text-align: center;
}

.testimonial-author {
  font-size: 24px;
  text-align: right;
}

.cta {
  padding: 56px;
}

.cta-wrapper {
  background-color: #3882f6;
  width: 960px;
  margin: 0 auto;
  padding: 36px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  border-radius: 6px;
}

.cta-wrapper button {
  border: 2px solid #f9f1f8;
}

h5 {
  font-size: 22px;
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 18px;
}
